.clients > div{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clients p{
    animation: loadingFade1 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.6s 1 forwards;
}
.clients .logos{
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    animation: loadingFade2 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.6s 1 forwards;
}

@keyframes loadingFade1{
    0%{
        opacity: 0;
        transform: translateX(-30%);
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes loadingFade2{
    0%{
        opacity: 0;
        transform: translateY(30%);
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
.clients .logos img{
    width: 100px;
    height: 100px;
    aspect-ratio: 4/3;
    object-fit: contain;
}
@media (max-width: 992px) {
    .clients > div{
        flex-direction: column;
        gap: 40px;
    }
    .clients .logos img{
        height: 60px;
    }
}