.clients{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clients .logos{
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
.clients .logos img{
    width: 100px;
    height: 100px;
    aspect-ratio: 4/3;
    object-fit: contain;
}
@media (max-width: 992px) {
    .clients{
        flex-direction: column;
        gap: 40px;
    }
    .clients .logos img{
        height: 60px;
    }
}