.page{
    position: relative;
}
.page > img:first-of-type{
    position: absolute;
    top: -250px;
    z-index: -1;
    min-width: 1000px;
    transform: rotateY(180deg);
}
.page > img:nth-of-type(2){
    position: absolute;
    left: 0;
    top: 227vh;
}
@media (max-width: 992px) {
    .page > img:nth-of-type(2){
        top: 332vh;
    }
}
@media (max-width: 600px) {
    .page > img:nth-of-type(2){
        left: 0px;
        top: 332vh;
        height: 500px;
    }
}