.contact{
    display: flex;
    align-items: center;
    height: 80vh;
}
.contact > *{
    flex: 1;
}
.contact > div:last-child{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact > div:last-child img{
    height: 90%;
    aspect-ratio: 4/3;
    object-fit: contain;
}
@media (max-width: 992px) {
    .contact{
        flex-direction: column;
        gap: 70px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .contact > :first-child{
        width: 70%;
    }
    .contact > :last-child{
        width: 100%;
    }
}
@media (max-width: 600px) {
    .contact > :first-child{
        width: 100%;
    }
    .contact > div:last-child img{
        height: 500px !important;
    }
}