.header{
    position: absolute;
    left: 0;
    width: 100%;
    animation: loadingFade 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s 1 forwards;
}
@keyframes loadingFade {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
.header > div{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo img{
    width: 150px;
}
.header .btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header .btns > :first-child{
    text-decoration: underline;
}
.header .btns > :last-child{
    background-color: var(--sec-btn-bg);
    padding: 8px 20px;
    border-radius: 20px;
}