.mainHeading {
}
.mainHeading > span{
    color: var(--sec-color);
    font-size: 20px;
}
.mainHeading > h2{
    font-size: 70px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
}
.mainHeading > p{
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 50px;
    width: 80%;
    line-height: 1.5;
}

@media (max-width: 992px) {
    .mainHeading{
        width: 100%;
        text-align: center;
    }
    .mainHeading h2{
        width: 100%;
    }
    .mainHeading p{
        width: 100%;
    }
}
@media (max-width: 600px) {
    .mainHeading h2{
        font-size: 50px;
    }
}