.sales > div{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
}
.sales > div > div{
    flex: 1;
}
.sales .cards{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}
.sales .cards > div:first-child > div{
    transform: translateX(-60px);
}
.sales .cards > div:last-child > div{
    flex-direction: row-reverse;
}
.sales .cards > div:first-child > div:last-of-type{
    right: 0;
}
.sales .cards > div:last-child > div:last-of-type{
    left: -20px;
    top: 100%;
}
.sales .cards > div:first-child > span{
    transform: translate(-30%,-30%);
    left: 0;
    top: 0;
    background-color: var(--third-color);
    z-index: -1;
    width: 160px;
    height: 160px;
}
.sales .cards > div:last-child > span{
    transform: translate(50%,10%);
    right: 0;
    top: 0;
    background-color: var(--forth-color);
    z-index: -1;
}
@media (max-width: 992px) {
    .sales > div{
        flex-direction: column-reverse;
        gap: 100px;
    }
}
@media (max-width: 600px) {
    .sales .cards > :first-child > div{
        transform: translateX(0px);
    }
    .sales .cards > :first-child > span{
        transform: translate(-0%,-30%);
        left: 0;
        top: 0;
        background-color: var(--main-color);
    }
    .sales .cards > :last-child > span{
        transform: translate(0%,10%);
        right: 0;
        top: 0;
        background-color: var(--sec-color);
    }
}